@import "../colors";
@import "../common";

.analytics-container {
  background-color: $grey1;
  height: 100%;
  @extend .p-5;
  .header {
    @extend .mb-5;
    .heading {
      text-transform: capitalize;
    }
    .export-data {
      .datepicker {
        .date-divider {
          color: $grey4;
        }
      }
    }
  }
}
