@import "../../styles/colors";
@import "../../styles/common";

.customer-analytics {
  background-color: $grey1;
  height: 100%;
  @extend .p-5;
  .header {
    @extend .mb-5;
    .export-data {
      .datepicker {
        .date-divider {
          color: $grey4;
        }
      }
    }
  }
  .chart-container {
    .bar-chart {
      @extend .mr-5;
      width: 65%;
    }
    .geo-chart {
      width: 35%;
    }
  }
  .grid-table {
    .name-avatar {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .mr-2;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      color: white;
      font-size: 20px;
    }
  }
}
