@import "../../styles/colors";
@import "../../styles/common";

.customer-analytics {
  .chart-container {
    height: 360px;
    .bar-chart {
      @extend .mr-5;
      width: 65%;
      height: 100%;
    }
    .geo-chart {
      width: 35%;
      height: 100%;
    }
  }
  .grid-table {
    .name-avatar {
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .mr-2;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      color: white;
      font-size: 20px;
    }
  }
}
