$primary: #11a1fd;

$grey1: #f3f7f9;
$grey2: #e3eef6;
$grey3: #cbdfea;
$grey4: #a6c1d3;
$grey5: #7d9eb5;
$grey6: #486f88;
$black: #223345;

$sidebar: #0c2556;

$success: #07c180;
$warning: #ff9931;
$danger: #f42b3d;