@import "../../styles/common";

.product-analytics {
  @extend .d-flex;
  &__table {
    margin: 0px !important;
    width: 100%;
  }
  &__widgets {
    @extend .ml-2;
    &__infocards {
      @extend .d-flex;
      & .price-card {
          @extend .mb-2;
          &:nth-child(2) {
              @extend .mx-2;
          }
      }
    }
    &__charts {
        & .ant-card {
            &:nth-child(1){
                height: 280px;
                @extend .mb-2;
            }
            &:nth-child(2){
                height: 385px;
                @extend .mb-2;
                margin-bottom: 0px !important;
            }
        }
    }
  }
}
